<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="d-flex col-12">
          <button class="boton my-2 py-2 px-4" routerLink="/tabs/tab3">
            <i class="fas fa-angle-left icono"></i> Contenido
          </button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="contenido">
    <img [src]="contenido.imagePath" alt="" class="tamañoImagen" *ngIf="contenido.imagePath!=''">
    <img src="/assets/blog/test.jpg" alt="" *ngIf="contenido.imagePath == ''">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="textoTitulo"> {{contenido.title}} </h2>
          <hr>
          <h4 class="textoSubtitulo"> {{contenido.subtitle}} </h4>
        </div>
        <div class="col-12">
          <div [innerHTML]="html" class="textoParrafo"></div>
        </div>
        <div class="col-12" *ngIf="contenido.pdfPath != ''">
          <a [href]="contenido.pdfPath" download target="_blank"><button class="botonPdf"> Descargar pdf</button></a> 
        </div>
      </div>
    </div>
  </div>
</ion-content>