<ion-content>
  <div class="wrapper">
    <div class="logo-box">
      <img src="/assets/logo.png" alt="">
    </div>
    <div class="form-box">
      <h1>Recuperar contraseña</h1>
      <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
        <div class="input-box">
          <i></i>
          <input type="email" placeholder="Introduzca el correo" formControlName="correo">
        </div>

        <!--Span con los fallos antes de pulsar el boton recuperar contraseña-->
        <span class="text-danger"
          *ngIf="recuperarForm.get('correo')?.hasError('required') && recuperarForm.get('correo')?.touched">
          El correo es requerido
        </span>
        <span class="text-danger"
          *ngIf="recuperarForm.get('correo')?.hasError('email') && recuperarForm.get('correo')?.touched">
          Formato de correo incorrecto
        </span>

        <p class="text-danger"><span *ngIf="errorComprobar">{{errorTexto}}</span></p>

        <div class="d-flex justify-content-center">
          <button class="boton" type="submit" [disabled]="!recuperarForm.valid"> Recuperar contraseña </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
