<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper">
    <div class="head-box">
      <div class="picture">
        <img src="/assets/profile/icon.jpg" alt="">
      </div>
      <div class="personal-info">
        <div class="name">Iyán Arcega</div>
        <div class="location">Oviedo, Asturias</div>
        <div class="numberCongregation">#123456</div>
      </div>
      <div class="chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
