<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="d-flex vertical-align-center col-12">
          <ion-title class="tituloToolbar">Perfil</ion-title>
          <button class="botonToolbar" routerLink="/admin"><i class="fas fa-user-cog"></i></button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="head-box">
      <div class="picture">
        <img src="/assets/profile/icon.jpg" alt="">
      </div>
      <div class="personal-info">
        <div class="name">Iyán Arcega</div>
        <div class="location">Oviedo, Asturias</div>
        <div class="numberCongregation">#123456</div>
      </div>
      <div class="chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>