<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="d-flex vertical-align-center col-12">
          <ion-title class="tituloToolbar">Perfil</ion-title>
          <button class="botonToolbar" routerLink="/admin"><i class="fas fa-user-cog" *ngIf="usuario && usuario.range == 1"></i></button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper" *ngIf="usuario">
    <div class="head-box">
      <div class="picture">
        <img src="/assets/profile/icon.jpg" alt="" *ngIf="usuario.imagePath == '' ">
        <img [src]="usuario.imagePath" alt="" *ngIf="usuario.imagePath != '' ">
      </div>
      <div class="personal-info">
        <div class="name"> {{usuario.name | uppercase}} {{usuario.surname | uppercase}} </div>
        <div class="location"> {{usuario.location}} </div>
        <div class="numberCongregation"># {{usuario.numberCongress}} </div>
      </div>
      <div class="chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </div>
    </div>
    <div class="revista">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nuestra revista</ion-card-title>
          <ion-card-subtitle>Entérate de todas las novedades</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <div class="revista1">
            <div class="text">
              <div class="title">
                Lorem, ipsum dolor.
              </div>
              <div class="fechapublic">
                10/02/2021
              </div>
            </div>
            <div class="dowload">
              <button>Descargar</button>
            </div>
          </div>
          <div class="revista1">
            <div class="text">
              <div class="title">
                Lorem, ipsum dolor.
              </div>
              <div class="fechapublic">
                10/02/2021
              </div>
            </div>
            <div class="dowload">
              <button>Descargar</button>
            </div>
          </div>
          <div class="revista1">
            <div class="text">
              <div class="title">
                Lorem, ipsum dolor.
              </div>
              <div class="fechapublic">
                10/02/2021
              </div>
            </div>
            <div class="dowload">
              <button>Descargar</button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>