<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" routerLink="/tabs/tab5">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Oraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let oracion of frases; let i=index" class="oracion align-items-center">
    <div class="next">
      <img [src]="oracion.srcIcon" class="img-fluid imagenIcono">
    </div>

    <div class="text">
      {{ oracion.title }}
    </div>

    <!--<div class="next" *ngIf="i==0 || i==5">
      <div>
        <a href="https://www.eltestigofiel.org/index.php?idu=lt_liturgia" *ngIf="i==0" class="d-flex align-items-center">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>
      <div>
        <a href="https://www.xiskya.com/liturgia-pureza.html" *ngIf="i==5" class="d-flex align-items-center">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>
    </div>-->

    <div class="next" (click)="presentModal(oracion)">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>