<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab3">
      <ion-icon name="home-outline"></ion-icon>
      <label>Inicio</label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="people-outline"></ion-icon>
      <label>Personas</label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar-outline"></ion-icon>
      <label>Eventos</label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="book-outline"></ion-icon>
      <label>Oraciones</label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person-outline"></ion-icon>
      <label>Perfil</label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
