ion-toolbar {
    --border-style: none;
    --background: #4c5361;
}
ion-title {
    color: white;
}
ion-icon {
    color: white;
}

#back{ 
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 36px;
}

.event-data {
    margin: 65px 12px 12px 12px;
    border-radius: 6px;
    padding: 6px;
    --ion-item-background:#e24d33;
    --ion-item-color: white;

    .button {
        width: auto;
        margin-top: 28px;
        padding: 12px;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        background: #768096;
        color: white;
        font-weight: 600;
    }

    .buttonCancel {
        width: auto;
        margin-top: 5px;
        padding: 12px;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        background: white;
        color: #e24d33;
        font-weight: 600;
    }

    .buttonDelete{
        width: auto;
        margin-top: 5px;
        padding: 12px;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        background: #768096;
        color: white;
        font-weight: 600;
        font-weight: bold;
    }
}

.spanError{
    color: white;
    font-size: large;
    font-weight: bold;
}
