  <ion-content [fullscreen]="true">
  <ion-header>
    <div class="header-top">
      <div class="input-icono">
        <ion-icon class="-search" name="search"></ion-icon>
        <input type="text" name="input" (change)='filter($event)'>
        <ion-icon name="filter-outline"></ion-icon>
      </div>
    </div>
  </ion-header>
  
  <div class="container-persons">
    <div *ngFor='let person of personsToShow' class="person-item -bc-p-2 -tc-white">
      <img [src]='person.img' alt='logo' />
      
      <div class='block-start'>
        <div class="names">
          <span>{{person.name}}</span>
          <span>{{person.surname}}</span>
        </div>
        <span class="city">{{person.city}}</span>
      </div>

      <div class="block-end">
        <span class="birth">{{person.dateBirth}}</span>
        <span class="congregation">#{{person.numberCongregation}}</span>
      </div>
    </div>
  </div>
</ion-content>
