<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/tab5">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title" *ngIf="usuario">¡Bienvenido {{usuario.name | uppercase}} !</ion-title>
  </ion-toolbar>
  
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h2>Filtrar por</h2>
    <div class="filters">
      <div class="filter mr-10" (click)="filtrarContenido(0)" [ngClass]="{'active':selector === 0}">Circulares</div>
      <div class="filter mr-10" (click)="filtrarContenido(1)" [ngClass]="{'active':selector === 1}">Noticias</div>
      <div class="filter" (click)="filtrarContenido(2)" [ngClass]="{'active':selector === 2}">Revistas</div>
    </div>

    <div class="notices">
      <div *ngFor="let contenido of contenidoFiltrado | paginate: { itemsPerPage: 3, currentPage: p }" class="notice mt-20">
        <div class="img">
          <img src="/assets/blog/test.jpg" alt="" *ngIf="contenido.imagePath == ''">
          <img [src]="contenido.imagePath" alt="" *ngIf="contenido.imagePath!=''">
        </div>
        <div class="elements">
          <div class="title">{{ contenido.title | slice:0:20 }}</div>
          <div class="subtitle">{{ contenido.subtitle | slice:0:20 }}</div>
          <div class="short_desc">{{ contenido.content | slice:0:30 }}...</div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ion-content>
