<ion-content>
  <div class="wrapper">
    <div class="logo-box">
      <img src="/assets/logo.svg" alt="">
    </div>
    <div class="form-box">
      <h1>Iniciar sesión</h1>
      <form action="">
        <div class="input-box">
          <i class="fas fa-user"></i>
          <input type="text" name="" id="">
        </div>
        <div class="input-box">
          <i class="fas fa-lock"></i>
          <input type="password" name="" id="">
        </div>
        <button>Login</button>  
      </form>
    </div>
  </div>
</ion-content>
