<ion-content>
  <div class="wrapper">
    <div class="logo-box">
      <img src="/assets/logo.png" alt="">
    </div>
    <div class="form-box">
      <h1>Iniciar sesión</h1>
      <form action="">
        <div class="input-box">
          <i class="fas fa-user"></i>
          <input type="text" name="" id="" placeholder="Usuario">
        </div>
        <div class="input-box">
          <i class="fas fa-lock"></i>
          <input type="password" name="" id="" placeholder="Contraseña">
        </div>
        <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button> 
      </form>
    </div>
  </div>
</ion-content>
