<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="d-flex vertical-align-center col-12">
          <ion-title class="tituloToolbar">Actualizar contenido</ion-title>
          <button class="botonToolbar" routerLink="/"><i class="fas fa-sign-out-alt"></i></button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <!--Div actualizar contenido-->
    <!------------------------------------------------------------------------------------------------------------------>
    <div class="container mt-20">
      <div class="row">
        <h4 class="text-center">Actualizar contenido</h4>
        <div class="col-10 offset-1">
          <form [formGroup]="contenidoForm">
            <!--Input titulo-->
            <input type="text" class="form-control form-control-lg mb-2" placeholder="Titulo" formControlName="title">
            <span class="text-danger"
              *ngIf="contenidoForm.get('title')?.hasError('required') && contenidoForm.get('title')?.touched">
              El titulo es requerido
            </span>
            <!--Input subtitulo-->
            <input type="text" class="form-control form-control-lg mb-2" placeholder="Subtitulo"
              formControlName="subtitle">
            <span class="text-danger"
              *ngIf="contenidoForm.get('subtitle')?.hasError('required') && contenidoForm.get('subtitle')?.touched">
              El subtitulo es requerido
            </span>
            <!--Textarea contenido-->
            <textarea class="form-control form-control-lg mb-2" rows="5" placeholder="Contenido"
              formControlName="content"></textarea>
            <span class="text-danger"
              *ngIf="contenidoForm.get('content')?.hasError('required') && contenidoForm.get('content')?.touched">
              El contenido es requerido
            </span>
            <!--Select enum-->
            <select class="form-control form-control-lg mb-2" formControlName="type">
              <option value="0">Circular</option>
              <option value="1">Noticia</option>
              <option value="2">Revista</option>
            </select>
            <!--Input PDF-->
            <label class="custom-file-upload mb-2" *ngIf="mostrarPdf == true">
              <input type="file" accept=".pdf"/>
              Cambiar PDF
            </label>
            <!--Input imagenes-->
            <label class="custom-file-upload">
              <input type="file"/>
              Cambiar imagen
            </label>

            <!--Previsualizacion de la imagen ya añadida-->
            <div class="my-2">
              <img [src]="contenidoForm.value.imagePath" alt="" class="previsualizar ml-2">
              <button type="button" class="posicion"><i class="far fa-times-circle"></i></button>
            </div>

            <!--Previsualizacion de la imagen a añadir-->
            <div *ngIf="previsualizarImagen" class="my-2">
              <img [src]="previsualizarImagen" alt="" class="previsualizar ml-2">
              <button type="button" class="posicion"><i class="far fa-times-circle"></i></button>
            </div>

            <button class="btn btn-primary mt-3 w-100" type="submit" [disabled]="!contenidoForm.valid">Subir
              contenido</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>