<ion-tabs *ngIf="usuario">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="content">
      <ion-icon name="home-outline"></ion-icon>
      <label>Contenido</label>
    </ion-tab-button>

    <ion-tab-button tab="users" *ngIf="usuario.range == 1">
      <ion-icon name="people-outline"></ion-icon>
      <label>Personas</label>
    </ion-tab-button>

    <ion-tab-button tab="event-calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <label>Eventos</label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>