ion-toolbar {
    --border-style: none;
    --background: #4c5361;
}
ion-title {
    color: white;
}
ion-icon {
    color: white;
}

.p-20 {
    padding: 20px;
    font-size: 20px;
}

#parrafo {
    p {
       font-size: 22px; 
       line-height: 1.5em;
    }
}