ion-toolbar {
    --border-style: none;
    --background: #4c5361;
}
ion-title {
    color: white;
}
ion-icon {
    color: white;
}

.p-20 {
    padding: 20px;
    font-size: 20px;
}

#parrafo {
    p {
       font-size: 22px; 
       line-height: 1.5em;
    }
}

iframe{
    width: 1024px;
    height: 100vh;
}

.dektop-view {
//     width: 1024px;
//     height: 768;
zoom: 0.75;
-moz-transform: scale(0.75);
-moz-transform-origin: 0 0;
-o-transform: scale(0.75);
-o-transform-origin: 0 0;
-webkit-transform: scale(0.7);
-webkit-transform-origin: 0 0;
}

span{
    color: #e24d33;
    font-weight: bold;
}