<div class="d-flex flex-column">
  <span class="spanText">El icono <span class="blue">azul</span> muestra los eventos.</span>
  <span class="spanText">El icono <span class="red">rojo</span> muestra la cantidad de eventos.</span>
</div>

<div class="-header-type">
  <ion-icon name="chevron-back-outline" [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
    mwlCalendarPreviousView></ion-icon>
  <!--<span>{{arrayTypesCalendar[indexTypeCalendar]}}</span>-->
  <span> {{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }} </span>
  <ion-icon name="chevron-forward-outline" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"></ion-icon>
</div>

<mwl-calendar-month-view *ngIf='arrayTypesCalendar[indexTypeCalendar] === "month"' [viewDate]="viewDate"
  [events]="getEvents()" (eventClicked)='editEvent($event)' (dayClicked)='dayClicked($event.day)'
  [weekStartsOn]="weekStartsOn" [locale]="locale" [activeDayIsOpen]="activeDayIsOpen">
</mwl-calendar-month-view>

<mwl-calendar-week-view *ngIf='arrayTypesCalendar[indexTypeCalendar] === "week"' [viewDate]="viewDate"
  [events]="getEvents()" (eventClicked)='test($event)' (hourSegmentClicked)='dayClicked($event)'
  [weekStartsOn]="weekStartsOn" [locale]="locale">
</mwl-calendar-week-view>

<mwl-calendar-day-view *ngIf='arrayTypesCalendar[indexTypeCalendar] === "day"' [viewDate]="viewDate"
  [events]="getEvents()" (eventClicked)='test($event)' (hourSegmentClicked)='dayClicked($event)' [locale]="locale">
</mwl-calendar-day-view>

<mwl-calendar-day-view *ngIf='arrayTypesCalendar[indexTypeCalendar] != "day"' [viewDate]="viewDate"
  [events]="getEvents()" (eventClicked)='test($event)' (hourSegmentClicked)='dayClicked($event)' [locale]="locale">
</mwl-calendar-day-view>

<ion-fab class="add-event">
  <ion-fab-button (click)='openModalAddEvent()'>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>