<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="d-flex vertical-align-center col-12">
          <ion-title class="tituloToolbar">Contenido</ion-title>
          <button class="botonToolbar" routerLink="/tabs"><i class="fas fa-sign-out-alt"></i></button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="filters mb-10">
      <div class="filter mr-10" (click)="seleccionarApartado(0)" [ngClass]="{'active':selector === 0}">Ver contenido</div>
      <div class="filter" (click)="seleccionarApartado(1)" [ngClass]="{'active':selector === 1}">Crear contenido</div>
    </div>

    <!--Div ver contenido-->
    <!------------------------------------------------------------------------------------------------------------------>
    <div class="notices" *ngIf="selector === 0 && contenidoTotal">
      <div *ngFor="let contenido of contenidoTotal">
        <div class="notice mt-10">
          <div class="elements">
            <div class=" d-flex justify-content-between">
              <div class="title">{{contenido.title}}</div>
              <div>
                <span class="badge bg-dark" *ngIf="contenido.type==0">Circular</span>
                <span class="badge bg-primary" *ngIf="contenido.type==1">Noticia</span>
                <span class="badge bg-success" *ngIf="contenido.type==2">Revista</span>
              </div>
            </div>
            <div class="short_desc" [innerHTML]="contenido.content | slice:0:100"></div>
          </div>
        </div>
        <div class="mt-2">
          <button class="boton"><i class="fas fa-trash borrar" (click)="borrarContenido(contenido.id)"></i></button>
          <button class="boton"><i class="fas fa-edit editar" [routerLink]="['/admin/update-content', contenido.id]"></i></button>
        </div>
      </div>
    </div>

    <!--Div crear contenido-->
    <!------------------------------------------------------------------------------------------------------------------>
    <div class="container mt-20" *ngIf="selector === 1">
      <div class="row">
        <h4 class="text-center">Crear contenido</h4>
        <div class="col-10 offset-1">
          <form [formGroup]="contenidoForm" (ngSubmit)="guardarImagen()">
            <!--Input titulo-->
            <input type="text" class="form-control form-control-lg mb-2" placeholder="Titulo" formControlName="title">
            <span class="text-danger"
              *ngIf="contenidoForm.get('title')?.hasError('required') && contenidoForm.get('title')?.touched">
              El titulo es requerido
            </span>
            <!--Input subtitulo-->
            <input type="text" class="form-control form-control-lg mb-2" placeholder="Subtitulo"
              formControlName="subtitle">
            <span class="text-danger"
              *ngIf="contenidoForm.get('subtitle')?.hasError('required') && contenidoForm.get('subtitle')?.touched">
              El subtitulo es requerido
            </span>
            <!--Summernote contenido-->
            <div [ngxSummernote]="config" formControlName="content"></div>
            <span class="text-danger"
              *ngIf="contenidoForm.get('content')?.hasError('required') && contenidoForm.get('content')?.touched">
              El contenido es requerido
            </span>
            <!--Select enum-->
            <select class="form-control form-control-lg my-2" formControlName="type" (change)="comprobarContenido(contenidoForm.value.type)">
              <option value="0">Circular</option>
              <option value="1">Noticia</option>
              <option value="2">Revista</option>
            </select>
            <!--Input PDF-->
            <div class="form-group mb-2" *ngIf="mostrarPdf == true">
              <label for="inputFile">Subir Pdf</label>
              <input type="file" class="form-control-file" id="inputFile" (change)="onUploadPdf($event)" accept=".pdf">
            </div>
            <!--Input imagenes-->
            <label class="custom-file-upload">
              <input type="file" (change)="onUpload($event)" class="imagenInput"/>
              Subir imagen
            </label>
            <span class="aviso"> La imagen tendrá que ser de 400x400 pixeles.</span>

            <!--Previsualizacion de la imagen-->
            <div *ngIf="previsualizarImagen" class="my-2">
              <img [src]="previsualizarImagen" alt="" class="previsualizar ml-2">
              <button type="button" class="posicion" (click)="limpiarContenidoPrevisualizacion()"><i class="far fa-times-circle"></i></button>
            </div>

            <button class="btn btn-primary mt-3 w-100" type="submit" [disabled]="!contenidoForm.valid">Subir
              contenido</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>