ion-toolbar {
    --border-style: none;
    --background: #758096;
}
ion-title {
    color: white;
}
ion-icon {
    color: white;
}
.wrapper {
    padding: 10px 20px;
    h2 {
        text-align: right;
        margin-top: 0;
        font-size: 18px;
    }
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .filter {
            border: 1px solid #758096;
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 14px;
        }
        .active {
            color: white;
            background: #758096;
        }
    }

    .notices {
        display: flex;
        flex-direction: column;

        .notice {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 10px;
            border-radius: 10px;
            .elements {
                .title {
                    font-size: 18px;
                    font-weight: 700;
                }
                .short_desc {
                    font-size: 14px;
                }
            }
        }
    }
}

.no-scroll .scroll-content{
    overflow: hidden;
}

.boton{
    background: none;
    font-size: 1.2rem;
}

.borrar{
    color: rgb(180, 18, 18);
}

.editar{
    color:green;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    background-color: white;
    display: inline-block;
    padding: 6px 12px;
    color: black;
    width: 100%;
    border-radius: 5px;
}

.botonToolbar{
    float: right;
    background: none;
}

.tituloToolbar{
    float: left;
}

.fa-sign-out-alt{
    color: white;
    font-weight: 700;
    font-size: 20px;
}